<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mySOS Lite copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>mySOS copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mySOS copy 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>mySOS copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mySOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A906076C16C2FEFB0014F0CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A90607A016C2FEFB0014F0CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93C8F0616C837AD0068C156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99C8A451704594100DCFF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99C8A7D170459B900DCFF05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
